{% extends "base.html.twig" %}

{% block header %}
    {{ parent() }}
{% endblock %}

 {% block body %}


     <header class="header-home">
         <div class="container header-home-container">
             <h1>Traoùvé, premier service d'objets trouvés en Bretagne</h1>
             <p>Déposez une annonce ou retrouvez un objet perdu grâce à notre communauté. Déjà <strong>4521</strong>
                 objets retrouvés grâce à notre plateforme de mise en relation !</p>
             <section class="row">
                 <article class="col-md-4">
                     {% if app.user %}
                     <a class="btn btn-primary" href="{{ path('traobject_new_ad_lost') }}">
                         <i class="fa fa-plus-circle"></i>
                         <h2>Créer un avis de recherche</h2>
                     </a>
                     {% else %}
                         <a href="{{ path('app_login') }}" class="btn btn-primary">
                             <i class="fa fa-plus-circle"></i>
                             <h2>Créer un avis de recherche</h2>
                         </a>
                     {% endif %}
                 </article>
                 <article class="col-md-4">
                     {% if app.user %}
                     <a class="btn btn-info" href="{{ path('traobject_new_ad_found') }}">
                         <i class="fa fa-map-pin"></i>
                         <h2>Déclarer un objet trouvé</h2>
                     </a>
                         {% else %}
                     <a class="btn btn-info" href="{{ path('app_login') }}">
                         <i class="fa fa-map-pin"></i>
                         <h2>Déclarer un objet trouvé</h2>
                     </a>
                     {% endif %}
                 </article>
                 <article class="col-md-4">
                     {% if app.user %}
                     <a class="btn btn-danger" href="#">
                         <i class="fa fa-search"></i>
                         <h2>Rechercher un objet perdu</h2>
                     </a>
                     {% else %}
                         <a class="btn btn-danger" href="{{ path('app_login') }}">
                             <i class="fa fa-search"></i>
                             <h2>Rechercher un objet perdu</h2>
                         </a>
                 {% endif %}
                 </article>
             </section>
         </div>
     </header>
     <!--------------------------------------//-------------------------------------------------->
     <div class="container">
         <h2>Les derniers objets trouvés</h2>
         <section class="row">
             {% for traobjectFound in traobjectsFound %}
                 <article class="col-md-3">
                 {% include 'traobject/card.html.twig' with {'traobject' : traobjectFound} only %}
                 </article>
             {% endfor %}
         </section>
     </div>
     <div class="container">
         <h2>Les derniers objets perdus</h2>
         <section class="row">
             {% for traobjectLost in traobjectsLost %}
                 <article class="col-md-3">
                 {% include 'traobject/card.html.twig' with {'traobject' : traobjectLost} only %}
                 </article>
             {% endfor %}
         </section>
     </div>
<!-------------------------------------/
     <div class="container">
         <h2>Les derniers objets trouvés</h2>
         <section class="row">

             {#{% for traobject in traobjects %}#}
                 <article class="col-md-3">
                    {# {{ include('traobject/card.html.twig') }}#}
                 </article>
            {# {% endfor %}#}

         </section>
     </div>
/------------------------------------------------------->



 {% endblock %}