<div class="card object-card">
    <span class="badge badge-primary badge-found"><i class="fa fa-map-pin"></i> Trouvé</span>
    <img class="card-img-top" src="{{ asset('uploads/' ~ traobject.image) }}" alt="Portefeuille">
    <div class="card-body">
        <h5 class="card-title">{{ traobject.label }}</h5>
        <ul class="object-features">

            <li><a href="#" class="badge" style="background-color: #dc143c;"><i class="{{ traobject.category.icon }}"></i> {{ traobject.category.label }}</a></li>

            <li><a href="#" class="badge badge-info"><i class="fa fa-calendar"></i> {{ traobject.createdAt }}</a></li>

            <li><a href="#" class="badge badge-info"><i class="fa fa-map-marker"></i> {{ traobject.departement.label }}</a></li>
        </ul>
    </div>
    <a href="{{ path('traobject_show', {'id': traobject.id }) }}" class="card-footer-btn btn btn-primary"><i class="fa fa-eye"></i> Afficher</a>
</div>